@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}



body {
      background-color: hsl(217, 54%, 11%);
      font-family: 'Outfit', sans-serif;
      max-height: 100vh;
      /* overflow: hidden;
       */
}



.container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 400px;
    padding: 2.2rem;
    background-color:hsl(216, 50%, 16%);
    border-radius: 12px;
    box-shadow: 10px 18px hsl(212, 71%, 9%);
}

  .box img {

    width: 330px;
    height: 300px;
    border-radius: 8px;
}  


.box {
    position: relative;
}
/* 
.icon-eye img {

    position:absolute;
    width: 30px;
} */

.box:hover::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    width: 330px;
    height: 300px;
    opacity: 0.5;
    background-color: hsl(178, 100%, 50%);
    background-image: url(/images/icon-view.svg);
    background-repeat:no-repeat;
    background-position: center; 
    border-radius: 8px;

}

/* .box:hover {

    opacity: 0.5;
    background-color: hsl(178, 100%, 50%);    
} */


h1 { font-size: 18px;
    color:  hsl(0, 0%, 100%);
    padding: 20px 0;
}

p {
    color: hsl(215, 51%, 70%);
}

.stat {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0 1.5rem 0;

}

.icon_ethereum {
    display: flex;
    flex-direction: row;

}
.eth {
    color: hsl(178, 100%, 50%);
}
 .icon_clock {
     display:flex;
     flex-direction: row;
 }

 .info {

    padding-left: 10px ;
 }

 .line {
      width: 100%;
      height: 2px;
      background-color:hsl(215, 32%, 27%);
      margin: 10px 0;
      /* border-top: 1px solid hsl(215, 32%, 27%); */
 }

 .creator {

    display: flex;
    flex-direction: row;
    align-items: center;
   
 

 }

 .creator img {

    width: 30px;
    height: 30px;
    border-radius: 48%;
    border: 2px solid hsl(0, 0%, 100%);

 }

 .creator p  span {

    color:  hsl(0, 0%, 100%);

}

.creator p {

    padding-left: 15px;
}



h1:hover  {

    color: hsl(178, 100%, 50%);
    cursor: pointer;
         
  }
 
  .creator p span:hover {

    color: hsl(178, 100%, 50%);
    cursor: pointer;
        
    
  }

@media only screen and  (max-width: 375px) and (min-width: 0) {

body {
        padding: 2rem;
    }
    
.container {
    min-width: 350px;
    

}
.box img {
    width: 300px;
}

} 
